*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2em;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#editor-container {
  width: 49%;
  flex: 400px;
  padding: 1em;
  border: 2px solid black;
}

#editor {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}

#editor:active,
#editor:focus {
  outline: none;
}

#preview {
  border: 2px solid black;
  width: 49%;
  padding: 1em;
  flex: 400px;
}

img {
  width: 100%;
}

@media (max-width: 865px) {
  #editor {
    height: 100vh;
  }
}
